@media (max-width: 767px) {}

body {
  background-color: #2f2d32;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.accordion-container {
  position: relative;
  width: 100%;
  max-width: 540px;
  height: auto;
  margin: 20px auto;
}

.set {
  position: relative;
  width: 100%;
  color: #fff;
  height: auto;
}

.set>a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #f93030;


  color: #fff;


  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.set>a i {
  position: relative;
  float: right;
  margin-top: 4px;
  color: #666;
}

.set>a.active {
  background-color: #f93030;
  color: #fff;
}

.set>a.active i {
  color: #fff;
}

.content {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #fff;
  display: none;
}

.tabs {
  color: #fff;

  &__list {}
}

.tabs-list {
  color: #fff;
  list-style: none;
  padding: 0 20px;
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__text {
    flex-basis: 65%;
  }

  &__price {
    font-weight: bold;
  }
}